.home {

  .main-header {
    
    border-bottom: 2px dashed @navigation-border;

    .header-text {
      margin: 1rem 0;
    }

    @media @mobile {
      margin: 0 2%;
    }
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }

    @media @mobile {
      margin: 0 2%;
      flex-direction: column;

      .text-content {
        padding: 2%;
        width: 95%;
      }
  
      .img-content {
        width: 95%;
        align-items: center;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }

    @media @mobile {
      margin: 0 2%;
      flex-direction: column-reverse;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }

    @media @mobile {
      margin: 0 2%;
      width: 95%;
    }

  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;

      .btn {
        display: flex;
        .button(1rem, 10px, @eastern-blue, @main-bg, 2rem, center);
      }
    }

    @media @mobile {
      align-items: center;
      flex-direction: column;
      margin: 0 2%;
      
      .destination {
        width: 70%;
      }
    }
  }

  
}// home